.check-box{
    -fx-padding: 9;
}

.radio-button{
    -fx-padding: 9;
}

.text-field{
    -fx-padding: 9;    
}

.label{
    -fx-padding: 9;
    -fx-font: 14px serif;
}

.ComboBox{
    -fx-padding: 9;  
}

.button{
    -fx-padding: 9;
}

#scFractureIntensity .default-color0.chart-series-line {
    -fx-stroke: transparent;     
}

#scFractureIntensity .default-color1.chart-line-symbol {
    -fx-background-color: transparent;
}

#chartHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}

#scDispersion .default-color5.chart-symbol { /* hollow circle */
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

#bcHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}

#pbStatus {
    -fx-padding: 10 10 10 10;    
    -fx-fill-width: true;
}

.tab{
    -fx-background-color: white;
}
#WhitePane{
    -fx-background-color: white;
}