.label{
    -fx-padding: 9;
    -fx-font: 12px serif; 
}

.ComboBox{
    -fx-padding: 9;  
}

.Button{
    -fx-padding: 9;
}

#scFractureIntensity .default-color0.chart-series-line {
    -fx-stroke: transparent;    
}

#scFractureIntensity .default-color1.chart-line-symbol {
    -fx-background-color: transparent;
}

#chartHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}

#bcHistogram {
    -fx-bar-gap: 0;
    -fx-category-gap: 0;
}

#pbStatus {
    -fx-padding: 10 10 10 10;    
    -fx-fill-width: true;
}